@import '../../index.css';

.navContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.backButton {
    margin: 0;
    padding: 0;
    min-width: 125px;
    height: 55px;
    background: none;
    border: 2px solid grey;
    border-radius: 10px;
    color: grey;
    transition: color 0.1s linear, 
            border 0.1s linear;

    font-size: 16px;
}
.backButton:hover {
    cursor: pointer;
    color: white;
    border: 2px solid white;
}
.tallyButton {
    min-width: 180px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    outline: none;
    color: grey;
    transition: color 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    font-size: 16px;
}
.tallyButton p {
    min-width: min-content;
}
.tallyButton:hover {
    cursor: pointer;
    color: white;
}
.tallyButton svg {
    width: 40px;
}
.tallyButton svg {
    stroke: grey;
    transition: stroke 0.1s linear;
}
.tallyButton:hover svg {
    stroke: white;
}
.boardListContainer {
    background-color: transparent;
    height: 100%;
    overflow-x: auto;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

/* Chrome, Edge, Safari */
.boardListContainer::-webkit-scrollbar {
    height: 8px; /* horizontal scrollbar */
}

.boardListContainer::-webkit-scrollbar-track {
    background: transparent; /* no background */
}

.boardListContainer::-webkit-scrollbar-thumb {
    background: linear-gradient(
        90deg,
        #ff0080,
        #7928ca,
        #00c6ff,
        #ff0080
    );
    border-radius: 999px; /* fully rounded */
}

/* Remove arrows/buttons */
.boardListContainer::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.boardContainer {
    background-color: rgba(0, 0, 0, 0.295);
    min-width: 300px;
    min-height: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    position: relative;
    z-index: 0;
    transition: border 0.1s linear;
    font-family: var(--font-family);
    font-weight: bolder;
}
.boardContainer:hover {
    cursor: pointer;
    border: 2px solid white;
    background: linear-gradient(
        135deg,
        #ff0080,
        #7928ca,
        #00c6ff,
        #ff0080
    ); /*Basically just purple to blue*/
    background-size: 300% 300%; /*Apparently this gives the animation room to move around*/
    animation: movingBackground 5s infinite;
}
@keyframes movingBackground {
    0% {
        background-position: 0% 50%; /* x, y */
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.boardContainer p {
    max-width: 200px;
    text-align: center;
}
.active {
    color: white;
}

.active svg {
    stroke: white;
}