@import '../../index.css';

.navContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.backButton {
    margin: 0;
    padding: 0;
    width: 125px;
    height: 55px;
    background: none;
    border: 2px solid grey;
    border-radius: 10px;
    color: grey;
    transition: color 0.1s linear, 
            border 0.1s linear;

    font-size: 16px;
}
.backButton:hover {
    cursor: pointer;
    color: white;
    border: 2px solid white;
}
.addTallyButton {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    outline: none;
    color: grey;
    transition: color 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    font-size: 16px;
}
.addTallyButton:hover {
    cursor: pointer;
    color: white;
}
.addTallyButton svg {
    width: 40px;
}
.addTallyButton svg {
    stroke: grey;
    transition: stroke 0.1s linear;
}
.addTallyButton:hover svg {
    stroke: white;
}
.boardListContainer {
    background-color: transparent;
    height: 100%;
    overflow-x: auto;
    display: flex;
    gap: 20px;
    overflow: visible;
    justify-content: flex-start;
    align-items: center;
}
.boardContainer {
    background-color: rgba(0, 0, 0, 0.295);
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    position: relative;
    z-index: 0;
    transition: border 0.1s linear;
    font-family: var(--font-family);
    font-weight: bolder;
}
.boardContainer:hover {
    cursor: pointer;
    border: 2px solid white;
    background: linear-gradient(
        #000 20%,
        #1a1a1a 40%,
        #555 70%,
        #fff 100%
    );
}