@import './index.css';

.IntroBanner {
  height: 100dvh;
  width: 99vw;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeText {
  color: grey;
}

.startButton {
  margin: 0;
  padding: 0;
  width: 125px;
  height: 55px;
  background: none;
  border: 2px solid grey;
  border-radius: 10px;
  color: grey;
  transition: color 0.1s linear, 
            border 0.1s linear;
}

.startButton:hover {
  cursor: pointer;
  color: white;
  border: 2px solid white;
}

.hoverText {
  transform: translateY(-15px);
  color: white;
}

.playGroundButton {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: none;
  margin: 10px 0 0 0;
  background-color: transparent;
  border: 2px solid grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  transition: 0.1s linear;
  color: grey;
}
.playGroundButton:hover {
  cursor: pointer;
  border: 2px solid grey;
  box-shadow: 0 0 20px 10px grey;
  z-index: 0;
}
#firstOuterCircle, #secondOuterCircle, #thirdOuterCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0) translate(-50%, -50%);
  border: 5px solid grey;
  opacity: 0;
  transform-origin: top left; /*transform trick to center circle requires transform origin top left for center*/

}
#firstOuterCircle {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  transition: transform 0.5s ease-out;
}
#secondOuterCircle {
  width: 400px;
  height: 400px;
  border-radius: 400px;
  transition: transform 1s ease-out;
}
#thirdOuterCircle {
  width: 600px;
  height: 600px;
  border-radius: 600px;
  transition: transform 1.5s ease-out;
}
.playGroundButton:hover #firstOuterCircle, .playGroundButton:hover #secondOuterCircle, .playGroundButton:hover #thirdOuterCircle {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}
